<script>
var Task=true;
$.host="<%="#{APP_CONFIG[:site_url]}/"%>";
</script>
<%=javascript_include_tag "tasks"%>

<%=render "first_pane"%>
<div class="m-panel-contain">
  <div class="m-panel">
  </div>
</div>