<script>
var Task=true;
$.host="<%="#{APP_CONFIG[:site_url]}/"%>";
</script>
<%=javascript_include_tag "tasks"%>
<div class="l-panel-contain">
  <div class="l-panel">
  <%=render :partial=>"first_pane",:locals=>{:projects=>@projects}%>
</div>
</div>
<div class="m-panel-contain">
  <div class="m-panel">
  </div>
</div>
<div class="r-panel-contain">
  <div class="r-panel">
    <%= render :partial=>"messages/add_comment"%>
    <div id="comment_area">
    </div>
  </div>
</div>