.modal {
	background: #393939 url('/images/modal/modal-back.png') repeat-x top;
	min-width: 100px;
	position:absolute;
	z-index: 300;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 0 1px;
	-moz-box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.6);
	-webkit-box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.6);
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.6);
}

.modal-top-left { background: url('/images/modal/image-map.png') 0 0 no-repeat; width: 6px; height: 59px; float: left; position:relative; }
.modal-top-center {
	background: url('/images/modal/top-arrow.png') no-repeat top center;
	height: 19px;
	position: absolute;
	top: -10px;
	text-align:center; 
	color:#fff; 
	font-size: 16px; 
	font-weight: bold;
	padding-top: 17px;
	text-shadow: 0 1px 0 #000;
}

.modal-top-right { background: url('/images/modal/image-map.png') -6px 0 no-repeat; width: 6px; height: 59px;  float: right; position:relative; right: -1px;}
.modal-body-contain { border-left: 1px solid #000; border-right: 1px solid #000; position:relative; min-height: 50px; top: 35px;margin-bottom: 38px; }
.modal-body {border-left: 1px solid #4d4d4d; border-right: 1px solid #4d4d4d; position:relative; min-height: 50px; padding-bottom: 1px; }

.modal-bottom-left { background: url('/images/modal/image-map.png') -12px -1px no-repeat; width: 6px; height: 6px;  float: left; position:absolute; bottom: 1px; left: 1px; }
.modal-bottom { background: url('/images/modal/modal-bottom.png') repeat-x; height: 2px;  float: left; position:absolute; bottom: 1px; left: 7px; }
.modal-bottom-right { background: url('/images/modal/image-map.png') -12px -8px no-repeat; width: 6px; height: 6px;  float: right; position:absolute; bottom: 1px; right: 1px; }

.modal .silver-45 { margin: 0 0 3px 5px; float: none; }

.modal .cancel-btn { 
	background: url('/images/buttons/modal-cancel.png') no-repeat top center;
	display: block;
	width: 60px;
	height: 25px;
	color: #fff;
	font-weight: bold; 
	font-size: 12px;
	text-align: center;
	text-decoration: none;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.7);
	line-height: 23px;
	float: left;
	margin: 1px 0 0 0;
}

.modal .save-btn { 
	background: url('/images/buttons/modal-save.png') no-repeat top center;
	display: block;
	width: 50px;
	height: 25px;
	color: #fff;
	font-weight: bold; 
	font-size: 12px;
	text-align: center;
	text-decoration: none;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.7);
	line-height: 23px;
	float: right;
	margin: 1px 2px 0 0 ;
}

.modal .cancel-btn:active, .modal .save-btn:active {background-position: center -25px; line-height: 25px;}

.modal-input {
	background: #fff;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	box-shadow:inset 0px 4px 5px rgba(0, 0, 0, 0.3), 0 1px 0 #646261;
	-webkit-box-shadow:inset 0px 4px 5px rgba(0, 0, 0, 0.3), 0 1px 0 #646261;
	-moz-box-shadow:inset 0px 4px 5px rgba(0, 0, 0, 0.3), 0 1px 0 #646261;
	margin: 8px;
	position: relative;
	z-index:302;
	width: 330px;
}

.modal-input fieldset { border-top: 1px solid #e0e0e0; padding: 5px 0; }
.modal-input fieldset:first-child { border-top: none; }
.modal-input label { font-weight: bold; float: left; margin: 4px 6px 4px 10px; }
.modal-input .textfield {
	background: transparent none;
	float: left;
	border: none;
	width: 240px;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-background-clip: none;
	margin-right: 3px;
	color: #737373;
	font-size: 14px;
	-webkit-appearance: none;
	margin-top: 3px;
}
.modal-input .textarea { width: 291px; padding: 7px 10px; margin: 5px 0 14px 9px; border: none;box-shadow:inset 0px 1px 4px rgba(0,0,0,0.3);-webkit-box-shadow:inset 0px 1px 4px rgba(0,0,0,0.3);-moz-box-shadow:inset 0px 1px 4px rgba(0,0,0,0.3); display: none; }
.modal-input .attachment-upload { width: 280px; margin: 5px 0 4px 9px; box-shadow:inset 0px 1px 4px rgba(0,0,0,0.3);-webkit-box-shadow:inset 0px 1px 4px rgba(0,0,0,0.3);-moz-box-shadow:inset 0px 1px 4px rgba(0,0,0,0.3); border: none; display: none; }

.modal-input .open .textarea, .modal-input .open .attachment-upload { min-height: 100px; display: block; }

.modal-close { background: url('/images/buttons/close-modal.png') no-repeat center top; display: block; float: left; width: 23px; height: 23px; }
.modal-close:active { background-position: center -23px; }

/* Add New Modal */

.add-new-modal { width: 220px; top: 45px; left: 111px; }
.add-new-modal .modal-top-center { left: 8px; }
.add-new-modal .modal-top-center, .add-new-modal .modal-bottom { width: 208px; } /* Width = modal width - 12 */
.add-new-modal .modal-body-contain { top: 9px; margin-bottom: 13px; }
.add-new-modal .silver-45 span { width: 164px; }

/* Add New Message, Project, Task List & Task Modals */

.add-item-modal { width: 350px; top: 45px; left: 46px; }
.add-item-modal .modal-top-center { left: 8px; }
.add-item-modal .modal-top-center, .add-message-modal .modal-bottom { width: 338px; } /* Width = modal width - 12 */
.add-item-modal .silver-45 span { width: 164px; }

/* Invite Modal */

.invite-modal { width: 350px; top: 45px; left: 416px; }
.invite-modal .modal-top-center { left: 8px; }
.invite-modal .modal-top-center, .add-message-modal .modal-bottom { width: 338px; } /* Width = modal width - 12 */
.invite-modal .silver-45 span { width: 164px; }

/* Sort by tooltip */

.sort-by-tooltip, .task-dropdown, .settings-dropdown, .account-dropdown {
	background: #fff;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	position: absolute; 
	z-index: 250;
	-moz-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.6);
	-webkit-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.6);
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.6);
	padding: 5px 0;
	border: 1px solid #5e5d5d;
}

.sort-by-tooltip { top: 45px; left: 453px; }
.task-dropdown { top: 107px; left: 75px; }
.task-dropdown.assigned-to { top: 107px; left: 218px; }
.settings-dropdown { top: 45px; right: 20px; }
.account-dropdown { top: 45px; right: 29px; }

.task-dropdown.assigned-to .textfield{ 
	background: transparent: none; 
	border: 1px solid #cccccc; 
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	float: left;
	margin: 6px 0 1px 6px;
	padding-left:6px;
	font-size:12px;
	color: #737373;
	height:22px;
	width: auto;
}

.task-dropdown.assigned-to .invite-btn {
	background: url('/images/layout/l-selected-back.png') repeat-x top;
	border: 1px solid #cccccc;
	font-size: 20px; 
	font-weight:bold; 
	color:#555; 
	float: left; 
	display: block;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin: 7px 6px 0 6px;
	line-height: 16px;
	padding: 0 5px 6px 5px;
	text-shadow: 0 1px 0 #fff;
}

.sort-by-top, .task-dropdown-t, .account-dropdown-t { background:url('/images/modal/sort-by-top.png') no-repeat top center; height: 20px; margin: -17px 0 -3px; }
.sort-by-tooltip ul, .task-dropdown ul, .account-dropdown ul { border-bottom: 1px solid #cccccc; }
.sort-by-tooltip ul:last-child, .task-dropdown ul:last-child, .account-dropdown ul:last-child { border-bottom: none; }
.sort-by-tooltip ul li, .task-dropdown ul li, .account-dropdown ul li { padding: 0 12px; border-top: 1px solid #fff; border-bottom: 1px solid #fff; }
.sort-by-tooltip ul li a, .task-dropdown ul li a, .account-dropdown ul li a { color:#292D30; display: block; cursor: default; }
.sort-by-tooltip ul li span, .task-dropdown ul li span { padding-left: 23px; cursor: default; }
.sort-by-tooltip ul .selected span, .task-dropdown ul .selected span { display: block; background: url('/images/icons/check.png') no-repeat; background-position: 2px 7px; }
.sort-by-tooltip ul li:hover, .task-dropdown ul li:hover, .account-dropdown ul li:hover { background: #F9F9F9; background: -moz-linear-gradient(top, #F9F9F9 0%, #EDEDED 99%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F9F9F9), color-stop(99%,#EDEDED)); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F9F9F9', endColorstr='#EDEDED',GradientType=0 ); border-top: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; }
.sort-by-tooltip ul li:hover:last-child { border-bottom: 1px solid #EDEDED; }
.sort-by-tooltip ul:first-child li:hover:first-child { border-top: 1px solid #DDDDDD; }
.sort-by-tooltip ul li:hover:first-child { border-top: 1px solid #F9F9F9; }

/* Keyboard Shortcuts */

.keyboard-shortcuts {
	position: absolute; 
	width: 100%;
	height: 100%;
	top: 0;
	background: rgba(0,0,0,0.4);
}

.k-s-back {
	width: 870px;
	padding: 20px;
	background: rgba(0,0,0,0.8);
	margin: 0 auto;
	z-index:300;
	position: relative;
	top: 30px;
	-moz-border-radius: 12px;
	-khtml-border-radius: 12px;
	-webkit-border-radius: 12px;
	color:#fff;
	-moz-box-shadow: 0px 1px 10px #000;
	-webkit-box-shadow: 0px 1px 10px #000;
	box-shadow: 0px 1px 10px #000;
}

.k-s-back .modal-close { position: absolute; top: 7px; right: 7px; }

.k-s-back h2 {text-align: center; margin-bottom: 20px; }
.k-s-back h3 {font-size: 18px; margin-bottom: 10px; }
.k-s-back .left {float: left; width: 435px;	margin-right: 20px;}
.k-s-back .right {float: left; width: 405px;}
.k-s-back ul {margin-bottom: 20px; }
.k-s-back ul li {font-size: 18px; margin-bottom: 5px;}