
	<div class="container-960">
		<span class="copy">Copyright &copy; 2011 Mocha</span>

		<ul>
			<li><a href="/sign_in">Login</a></li>

			<li><a href="#">Blog</a></li>
			<li><a href="/faq">FAQ</a></li>
			<li><a href="/terms">Terms of Use</a></li>
			<li><a href="/privacy">Privacy Policy</a></li>

		</ul>
	</div>
