	<div class="container-960">
		<a href="" class="logo">Mocha</a>
		<ul class="nav">

			<li>
				 <a href="/sign_in">
					<span class="left"></span>
					<span class="middle">Log in</span>
					<span class="right"></span></a>
			</li>
			<li>

				<a href="/sign_up">
					<span class="left"></span>
					<span class="middle">Sign Up</span>
					<span class="right"></span>
				</a>
			</li>	
			<li>
				<a href="/faq">

					<span class="left"></span>

					<span class="middle">Support</span>
					<span class="right"></span>
				</a>
			</li>
			<!--<li>
				<a href="/marketing/about">
					<span class="left"></span>
					<span class="middle">About</span>
					<span class="right"></span>
				</a>
			</li>-->
		</ul>
	</div>

	
	<div class="header-highlight"></div>

	<div class="header-bottom"></div>
	<div class="pages"></div>