

<body class="support">


<div class="header">
<%= render :partial=>'/home/header'%>
</div>

<div class="container-960 alpha-m content-bottom">
	<div class="grid-260">
		<div class="info-box">
			<h5>Fully functional.</h5>
			<p>No credit card required.</p>

		</div>
		<p>Suspendisse dictum feugiat nisl ut dapibus. Mauris iaculis porttitor posuere. Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. </p>
	</div>
	<div class="support-nav">
		<div class="left"></div>
			<ul class="support-nav">
				<li class="current" ><a href="/faq" style="border-bottom-right-radius: 10px 10px;">FAQ</a></li>
				<li><a href="/help">Help</a></li>

				<li><a href="/email">Email</a></li>
			</ul>
		<div class="right"></div>
	</div>
	<div class="grid-630 faq">
		<h1>Questions &amp; Answers</h1>
		<div class="question">

			<h5>What is Mocha?</h5>
			<p>Mocha is a simple web application combining intuitive project management with real time chat for groups</p>
		</div>
		<div class="question">
			<h5>Can we install Mocha on our own server?</h5>
			<p>Mocha is only available as a hosted service. We want you to be able to access Mocha anytime and anywhere you have Internet access.</p>
		</div>

		<div class="question">
			<h5>What's the difference between Admins, Team Members, and Guests?</h5>
			<p>Guests can only view the project and download files, but can't participate in chats or add comments, tasks, to-do, or posts. Team Members can participate in chats, add comments, tasks, to-do, and posts. Administrators can do everything team members can and delete projects they own and invite and kick team members.</p>
		</div>
		<div class="question">
			<h5>Do you read our chats?</h5>
			<p>We absolutely do not read your chats. If you have other questions about privacy, check out our <a href="/marketing/privacy-policy">privacy policy.</a></p>

		</div>
		<div class="question">
			<h5>Is Mocha secure?</h5>
			<p>All projects are SSL secure and password protected.</p>
		</div>
		<div class="question">
			<h5>Is our data backed up in case of an emergency?</h5>

			<p>Data is backed up daily.</p>
		</div>
		<div class="question">
			<h5>Are there any hidden fees we should know about?</h5>
			<p>Nope.</p>
		</div>
	</div>

	<div class="clear-fix"></div>
</div>

	<div class="push"></div>
</div>

<div class="footer">
	<%= render :partial=>'/home/footer'%>
</div>

</body>

