
<body class="homepage">

<div class="wrapper">

<div class="header">
<%= render :partial=>'/home/header'%>
</div>


<div class="cup-lg">
	<h1>A better way to work</h1>
	<h2>Mocha is the effortless project management app that helps you save time and get more done.</h2>

	<a href="/sign_up" class="btn blue-45"><span><em class="check"></em>Sign up for free</span></a>

</div>

<div class="container-960 section-1 under-cup">
	<img src="marketing/images/content/home-ss-1.png" alt="" class="main-screenshot" /><h4>The perfect blend of <strong>real-time chat, messaging,</strong> and 	<strong>task management</strong>. With Mocha, you will stay on top of things, get things done, and still have time for a coffee break.</h4>
	<div class="info-box-shadow">

		<div class="info-box">
			<div class="highlight">

				<h4>A recipe for success</h4>
				<ul>
					<li>1 Part Team Chat</li>
					<li>2 Parts Messaging and Tasks</li>
					<li>Dash of Speed and Simplicity</li>

				</ul>
			</div>

		</div>
	</div>
	<div class="clearfix"></div>
</div>

<div class="wrap section-2 alpha-p">
	<div class="container-960">
		<div class="grid-220">

			<h5>Keyboard Shortcuts</h5>
			<p>Save time navigating using short-<br />cuts. Press / or ? to get started.</p>

			<h5>Smart Filter</h5>
			<p>Quickly and easily organize information the way you want.</p>
		</div>
		<div class="grid-220">

			<h5>Drag-and-Drop Files</h5>
			<p>Just like your desktop, drag and drop files into Mocha to upload.</p>
			<h5>Inline Editing</h5>

			<p>Quick edits? Save time with inline editing.</p>
		</div>
		<div class="grid-220">

			<h5>Email Integration</h5>
			<p>Add a custom email and use Mocha for customer support.</p>
			<h5>Cloud Based</h5>
			<p>Never worry about losing data again, access from anywhere.</p>

		</div>
		<div class="grid-220 last">

			<h5>Quick Add</h5>
			<p>Adding people to messages and tasks is easy, hit enter to start.</p>
			<h5>Secure</h5>
			<p>Banks use it. We use it. Your projects are safe and secure. </p>
		</div>

		
		<hr class="light-hr" />

		<div class="screenshot"><img src="/marketing/images/content/home-ss-2.jpg" alt="" /></div>
		<div class="screenshot"><img src="/marketing/images/content/home-ss-3.jpg" alt="" /></div>
		<div class="screenshot last"><img src="/marketing/images/content/home-ss-4.jpg" alt="" /></div>
		<div class="clearfix"></div>
		<div class="grid-293 messages">
			<h5>Messages</h5>
			<p> &#151; Mocha organizes all your project messages like you'd expect in your inbox, but with the flexibility of a wiki 
and the power of a list host.</p>

		</div>
		<div class="grid-293 tasks">
			<h5>Tasks</h5>
			<p> &#151; Mocha enables your team to intelligently create, view, reassign, and prioritize all your tasks in one window with the ease you'd expect in sending an email.</p>
		</div>
		<div class="grid-293 last chat">

			<h5>Chat</h5>

			<p> &#151; Mocha provides chat rooms for your team to discuss in real-time with the speed and features you'd expect from your desktop chat client.</p>
		</div>
		<hr class="light-hr" />
		<div class="container-960 call-to-action">
			<div class="cta-logo"></div>

			<div class="cta-contain">
				<a href="/sign_up" class="btn blue-45"><span><em class="check"></em>Sign up for free</span></a>

				<h5>Get started with a 60-day free trial</h5>
				<p>Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor utin. </p>
			</div>
			<div class="cta-contain-r"></div>
		</div>

		<hr class="light-hr" />
	</div>
</div>
<div class="footer">
<%= render :partial=>'/home/footer'%>
</div>
	<div class="push"></div>
</div>



</body>

