
<body class="privacy">


<div class="wrapper">

<div class="header">
		<%= render :partial=>'/home/header'%>
</div>


<div class="container-960 alpha-m content-bottom">

	<div class="grid-630 faq">
		<h1>Privacy Policy</h1>
		<hr class="light-hr" />
		<p>Suspendisse dictum feugiat nisl ut dapibus. Mauris iaculis porttitor posuere. Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue.</p>

	</div>
	<div class="clear-fix"></div>
</div>

	<div class="push"></div>
</div>

<div class="footer">
<%= render :partial=>'/home/footer'%>
</div>
</body>
