<div class="l-panel-contain">
		<div class="l-panel">
			<a href="#" class="all-tasks" onclick="addClass(this);"><span class="num-tasks">12</span><span class="icon"></span>All Tasks </a>

			<a href="#" class="my-tasks" onclick="addClass(this);"><span class="num-tasks">19</span><span class="icon"></span>My Tasks </a>
			<a href="#" class="starred" onclick="addClass(this);"><span class="num-tasks">16</span><span class="icon"></span>Starred </a>
			<a href="#" class="completed" onclick="addClass(this);"><span class="icon"></span>Completed</a>
			<div class="projects-list">
				<div class="project" onclick="addClass(this);"><span class="icon"></span><span class="project-title"><span class="icon"></span>Apple</span><div class="clear-fix"></div></div>
				<div class="project" onclick="addClass(this);"><span class="icon"></span><span class="project-title"><span class="icon"></span>CoThink Internal</span><div class="clear-fix"></div></div>

				<div class="project" onclick="addClass(this);"><span class="icon"></span><span class="project-title"><span class="icon"></span>CoThink Development</span><div class="clear-fix"></div></div>
				<div class="project" onclick="addClass(this);"><span class="icon"></span><span class="project-title"><span class="icon"></span>IBM</span><div class="clear-fix"></div></div>
				<div class="project" onclick="addClass(this);"><span class="icon"></span><span class="project-title"><span class="icon"></span>Nike</span><div class="clear-fix"></div></div>
				<div class="project open" onclick="addClass(this);"><span class="icon"></span><span class="project-title"><span class="icon"></span>Simple Station</span>
					<ul>
						<li><span>Task List</span></li>

						<li><span>Task List has max 21</span></li>
					</ul>
					<div class="clear-fix"></div>
				</div>
				<div class="project" onclick="addClass(this);"><span class="icon"></span><span class="project-title"><span class="icon"></span>SwiftSure Development</span><div class="clear-fix"></div></div>
			</div>
		</div>
	</div>