<div class="modal add-new-modal">

	<div class="modal-top-left"></div>
	<div class="modal-top-center"></div>
	<div class="modal-top-right"></div>
	<div class="modal-body-contain">
		<div class="modal-body">
			<a href="#create_message" class="silver-45" onclick="javascript:add_new_message();"><span>Messages</span></a>
			<a href="/add-task" class="silver-45"><span>Task</span></a>
			<a href="/add-task-list" class="silver-45"><span>Task List</span></a>
			<a href="#create_project" class="silver-45" onclick="javascript:add_new_project();"><span>Project</span></a>
		</div>
	</div>
	<div class="modal-bottom-left"></div>
	<div class="modal-bottom"></div>
	<div class="modal-bottom-right"></div>
</div>