<%form_for  :data, :url=>{ :controller => "projects", :action => "create" } do%>
	<div class="modal-top-center">
		<a class="save-btn" id="p_add" href="#project_create">Save</a> 
		<a class="cancel-btn" href="/">Cancel</a>
		Add New Project
	</div>
	<div class="modal-top-right"></div>
	<div class="modal-body-contain">
		<div class="modal-body">

			<div class="modal-input">
			
				<fieldset>
					<label>Name:</label>
				
							<%=text_field :user, 'first_name', :class=>"textfield" %>
				</fieldset>
				<fieldset>
					<label>Invite:</label>
					
					 <%=text_field :project, 'invites', :class=>"textfield" %>
				</fieldset>
				<fieldset>
					<label>Message:</label>
					
				 <%=text_area :invite, 'message', :cols=>"40", :rows=>""%>
				</fieldset>
			
			</div>
		</div>
	</div>
<%end%>


