<%form_for  :data, :url=>{ :controller => "projects", :action => "create" }, :html=>{ :id => 'form1'} do |f|%>
	<div class="modal-top-center">
		<a class="save-btn" id="p_add" href="#project_create">Save</a> 
		<a class="cancel-btn" id="p_can" href="#">Cancel</a>
		Add New Project
	</div>
	<div class="modal-top-right"></div>
	<div class="modal-body-contain">
		<div class="modal-body">

			<div class="modal-input">
			
				<fieldset>
					<label>Name:</label>
				
							<%=f.text_field  'name', :class=>"textfield", :id=>"txtInput2" %>
				</fieldset>
				<fieldset>
					<label>Invite:</label>
					
					 <%=f.text_field 'email', :class=>"textfield", :id=>"txtInput2" %>
				</fieldset>
				<fieldset>
					<label>Message:</label>
					
				 <%=f.text_area 'message', :cols=>"35", :rows=>"4"%>
				</fieldset>
			
			</div>
		</div>
	</div>
<%end%>
<script>
     goog.require('goog.ui.AutoComplete.Basic');
   </script>
<script type="text/javascript">
    var tcMovies = [
        "Mission Impossible", "Top Gun","Jerry McGuire","Rain Man",
        "Days of Thunder", "Risky Business","Interview With The Vampire",
        "Eyes Wide Shut","Far And Away", "Jerry Maguire","The Firm","Cocktail",
        "A Few Good Men","Legend","Taps", "The Outsiders","Losin' It",
        "Endless Love","The Color Of Money", "All The Right Moves",
        "Minority Report","Magnolia","Mission Impossible 2",
        "Mission Impossible 3","Vanilla Sky","Ghost Soldiers","Few Good Men A",
        "Color of Money The","Firm The","Mission Impossible II","Outsiders The",
        "Young Guns","Top Gun DVD","Days of Thunder DVD","Coctail",
        "Mission Impossible DVD","Fallen Angels Vol 1","Don't Look at Me",
        "Young Guns uncredited"];

    var ac1 = new goog.ui.AutoComplete.Basic(
        tcMovies, document.getElementById('txtInput1'), false);
    var ac2 = new goog.ui.AutoComplete.Basic(
        tcMovies, document.getElementById('txtInput2'), true);
  </script>

