<%form_tag :url=>{ :controller => "projects", :action => "create" } , :remote => true do%>
	<div class="modal-top-center">
		<a class="save-btn" href="/projects/create">Save</a> 
		<a class="cancel-btn" href="/">Cancel</a>
		Add New Project
	</div>
	<div class="modal-top-right"></div>
	<div class="modal-body-contain">
		<div class="modal-body">

			<div class="modal-input">
			
				<fieldset>
					<label>Name:</label>
					<input type="text" class="textfield" value="" name="project-name">
					<%# if session[:first_name] && !session[:first_name].nil? %>
							<%#=text_field :user, 'first_name',:value=>"#{session[:first_name]}" %> <%# else %> <%=text_field :user, 'first_name' %><%# end %>
				</fieldset>
				<fieldset>
					<label>Invite:</label>
					<input type="text" class="textfield" value="" name="invite-recipients">
					<%# if session[:first_name] && !session[:first_name].nil? %>
					<%#=text_field :user, 'first_name',:value=>"#{session[:first_name]}" %> <%# else %> <%=text_field :project, 'invites' %><%# end %>
				</fieldset>
				<fieldset>
					<label>Message:</label>
					<textarea cols="30" rows="5" class="textarea" name="message"></textarea>
					<%# if session[:first_name] && !session[:first_name].nil? %>
					<%#=text_field :user, 'first_name',:value=>"#{session[:first_name]}" %> <%# else %> <%=text_area :invite, 'message', :cols=>"35", :rows=>"5"%><%# end %>
				</fieldset>
			
			</div>
		</div>
	</div>
<%end%>