<div class="modal add-item-modal">
	<div class="modal-top-left"></div>
<%= render :partial =>'/projects/new'%>
	<div class="modal-bottom-left"></div>
	<div class="modal-bottom"></div>
	<div class="modal-bottom-right"></div>
</div>