
	<div class="l-panel-contain">
	<% if @projects %>
		<%= render :partial=>'project_list' %>
	<% end %>
	</div>
	<span id="settings_pane">
		<!-- Second and Third panel to come here -->
	</span>
	

<script>
// Function for displaying second panel in project settings
function settings_secondpanel(project_id)
{
<% @projects.each do |p| %>
var id=<%= p.id %>;
if(id==project_id)
document.getElementById('project_list_'+id).className="project open";
else
document.getElementById('project_list_'+id).className="project";
<% end %>
  $.ajax({
       type :'post',
			 url : "/projects/"+project_id+"/settings_pane",
       success: function(data){
			 document.getElementById('settings_pane').innerHTML=data;
			 }
    });
}
// Function for displaying third panel in project settings
function settings_thirdpanel(page)
{
if(page=="people")
{
document.getElementById('people_anchor').className="m-tab alt open";
document.getElementById('general_anchor').className="m-tab alt";
document.getElementById('settings_general').style.display="none";
document.getElementById('settings_people').style.display="block";
document.getElementById('people_settings_popup').style.display="block";
}
else
{
document.getElementById('general_anchor').className="m-tab alt open";
document.getElementById('people_anchor').className="m-tab alt";
document.getElementById('settings_people').style.display="none";
document.getElementById('settings_general').style.display="block";
document.getElementById('people_settings_popup').style.display="none";
}
}

function remove_people_settings(id, proj_id)
{
var pars = "user=" + id  + "&project_id=" + proj_id;
var where_to= confirm("Are you sure to remove this person?");
if(where_to==true)
{
  $.ajax({
       type :'post',
       url : "/projects/remove_people?"+pars,
       success: function(data){
			 document.getElementById('settings_pane').innerHTML=data;
			 document.getElementById('settings_people').style.display="block";
			 document.getElementById('people_anchor').className="m-tab alt open";
			 }
    });
}
else
{
return false;
}
}

function change_public_access(proj_id)
{
var pub_access=document.getElementById('settings_public_access').className;
var access=true;
if(pub_access=="icon")
access=false;
var pars = "project_id=" + proj_id +  "&checked="+ access;
 $.ajax({
       type :'post',
       url : "/projects/update_proj_settings?"+pars,
       success: function(data){
			 document.getElementById('settings_pane').innerHTML=data;
			 document.getElementById('settings_general').style.display="block";
			 document.getElementById('general_anchor').className="m-tab alt open";
			 }
    });
}

function settings_project_info(edit,proj_id)
{
if(edit=="Edit")
{
document.getElementById('settings_project_name').style.display="none";
document.getElementById('text_anchor').className="textfield";
document.getElementById('edit_anchor').innerHTML="Save";
}
else
{
var name=document.getElementById('text_anchor').value;
if(name.length == 0)
alert("Please enter a project name");
else
{
document.getElementById('settings_project_name').style.display="block";
document.getElementById('text_anchor').className="textfield hidden";
document.getElementById('edit_anchor').innerHTML="Edit";

document.getElementById('project_list_'+proj_id).innerHTML='<span class="icon"></span>'+name;
var pars = "project_id=" + proj_id  + "&project_name="+ name;
 $.ajax({
       type :'post',
       url : "/projects/update_proj_settings?"+pars,
       success: function(data){
			 document.getElementById('settings_pane').innerHTML=data;
			 document.getElementById('settings_general').style.display="block";
			 document.getElementById('general_anchor').className="m-tab alt open";
			 }
    });
}
}
}

function change_project_status(proj_id)
{
var pub_access=document.getElementById('project_status_select_box').className;

if(pub_access=="hidden")
{
document.getElementById('project_status_select_box').className="";
document.getElementById('change_project_status').innerHTML="Save";
document.getElementById('project_status_label').style.display="none";
}
else
{
var status=document.getElementById('project_status_select_box').value;
var pars = "project_id=" + proj_id +  "&proj_status="+ status;
 $.ajax({
       type :'post',
       url : "/projects/update_proj_settings?"+pars,
       success: function(data){
			 document.getElementById('settings_pane').innerHTML=data;
			 document.getElementById('settings_general').style.display="block";
			 document.getElementById('general_anchor').className="m-tab alt open";
			 }
    });
}
}
function add_message_email(proj_id)
{
var message_add=document.getElementById('message_email_textfield').className;
if(message_add=="textfield hidden")
{
document.getElementById('message_email_textfield').style.display="block";
document.getElementById('change_message_email').innerHTML="Save";
document.getElementById('message_email_textfield').className="textfield";
}
else
{
var message_email=document.getElementById('message_email_textfield').value;
var x=message_email;
var atpos=x.indexOf("@");
var dotpos=x.lastIndexOf(".");
if (atpos<1 || dotpos<atpos+2 || dotpos+2>=x.length)
alert("Please enter valid email address");
else
{
var pars = "project_id=" + proj_id +  "&email="+ message_email;
 $.ajax({
       type :'post',
       url : "/projects/update_proj_settings?"+pars,
       success: function(data){
			  if(data.length!=141)
				{
			 document.getElementById('settings_pane').innerHTML=data;
			 document.getElementById('settings_general').style.display="block";
			 document.getElementById('general_anchor').className="m-tab alt open";
			 }
			 }
    });
}
}
}

function add_task_email(proj_id)
{
var message_add=document.getElementById('task_email_textfield').className;
if(message_add=="textfield hidden")
{
document.getElementById('task_email_textfield').style.display="block";
document.getElementById('change_task_email').innerHTML="Save";
document.getElementById('task_email_textfield').className="textfield";
}
else
{
var message_email=document.getElementById('task_email_textfield').value;
var x=message_email;
var atpos=x.indexOf("@");
var dotpos=x.lastIndexOf(".");
if (atpos<1 || dotpos<atpos+2 || dotpos+2>=x.length)
alert("Please enter valid email address");
else
{
var pars = "project_id=" + proj_id +  "&task_email="+ message_email;
 $.ajax({
       type :'post',
       url : "/projects/update_proj_settings?"+pars,
       success: function(data){
			 if(data.length!=141)
			 {
			 document.getElementById('settings_pane').innerHTML=data;
			 document.getElementById('settings_general').style.display="block";
			 document.getElementById('general_anchor').className="m-tab alt open";
			 }
			 }
    });
}
}
}

function delete_custom_mail(id,proj_id)
{
var pars = "project_id=" + proj_id +  "&remove_email="+ id;
$.ajax({
       type :'post',
       url : "/projects/update_proj_settings?"+pars,
       success: function(data){
			 document.getElementById('settings_pane').innerHTML=data;
			 document.getElementById('settings_general').style.display="block";
			 document.getElementById('general_anchor').className="m-tab alt open";
			 }
    });

}

function show_completed_projects(){
document.getElementById('completed_list').style.display="block";
}
</script>