<div class="clear-fix"></div>
<div id="container">
	<div class="l-panel-contain">
	<% if @projects %>
		<%= render :partial=>'project_list' %>
	<% end %>
	</div>
	<span id="settings_pane">
		<!-- Second and Third panel to come here -->
	</span>
	<div class="clear-fix"></div>
</div>
