<div class="clear-fix"></div>
<div id="container">
	<div class="l-panel-contain">
	<% if @projects %>
		<%= render :partial=>'project_list' %>
	<% end %>
	</div>
	<span id="settings_pane">
		<!-- Second and Third panel to come here -->
	</span>
	<div class="clear-fix"></div>
</div>
<script>
// Function for displaying second panel in project settings
function settings_secondpanel(project_id)
{
<% @projects.each do |p| %>
var id=<%= p.id %>;
if(id==project_id)
document.getElementById('project_list_'+id).className="project open";
else
document.getElementById('project_list_'+id).className="project";
<% end %>
  $.ajax({
       type :'post',
       url : "/"+project_id+"/settings",
       success: function(data){
			 document.getElementById('settings_pane').innerHTML=data;
			 }
    });
}
</script>