<title> Mocha</title>
<div style="margin-left:906px;margin-top:62px;position:absolute;z-index:100;"><a href="javascript:window.history.back()">Back</a></div>
<center>
  <%=image_tag("SiteDown-Template.jpg",:width => "700",:height => "700")%>
</center>


			 