<div class="header">
	<div class="l-header">
		</div>
	<div class="m-header">
	
	</div>

	
	<div class="r-header">
		
		<a href="#account-dropdown" class="username admin_drop_down"><span class="icon"></span>Admin</a>
    	</div>
</div>
