<div class="header">
	<div class="l-header">
		<ul class="nav">
			<li><a href="/" class="nav-messages"><span class="icon"></span></a></li>

			<li><a href="/tasks" class="nav-tasks"><span class="icon"></span></a></li>
			<li><a href="/chats" class="nav-chat"><span class="icon"></span></a></li>
		</ul>
		
		<a href="/add-new" class="add-new"></a>
	</div>
	
	<div class="m-header">
		<a href="/sort-by-tasks" class="sort-by">Sort by</a>
	</div>

	
	<div class="r-header">
		<ul>
			<li><a href="/reply" class="reply">Reply</a></li>
			<li><a href="#" class="star">Star</a></li>
			<li><a href="#" class="trash">Trash</a></li>
		</ul>
		<a href="/account-dropdown" class="username"><span class="icon"></span>Alex Nicholls</a>

		<a href="/settings-general" class="settings"></a>
	</div>
</div>
