<div class="account-dropdown" style="display:none;">
	<div class="account-dropdown-t"></div>
	<ul>
		<li class="selected"><span><a href="/settings-profile">My Account</a></span></li>
		<li><span><a href="/logout">Logout</a></span></li>
	</ul>
</div>