<div class="m-panel-contain">
		<div class="m-panel">
			<div class="sub-header"><a href="/tasks-list-edit">Task list name</a></div>
			<div class="task open starred" onclick="addClass(this);">
				<div class="left-icons">
					<a href="#" class="task-star">Star</a>
					<div class="checkbox"><span class="icon" onclick="checkBox(this);"></span></div>
				</div>

				<div class="info">
					<span class="task-time today"> Today</span>
					<span class="name">Stuart Bowness</span>
				</div>
				<div class="task-name">
					<h4>This is an example of a really long todo. We could allow max 60...</h4>
				</div>

				<div class="clear-fix"></div>
			</div>
			
			<div class="task alt" onclick="addClass(this);">
				<div class="left-icons">
					<div class="checkbox"><span class="icon" onclick="checkBox(this);"></span></div>
				</div>
				<div class="info">
					<span class="task-time today"> Today</span>

					<span class="name">Alex Ristevski</span>
				</div>
				<div class="task-name">
					<h4>This is an example of a relatively short todo item.</h4>
				</div>
				<div class="clear-fix"></div>
			</div>
			
			<div class="task" onclick="addClass(this);">

				<div class="left-icons">
					<div class="checkbox"><span class="icon" onclick="checkBox(this);"></span></div>
				</div>
				<div class="info">
					<span class="task-time"> Mar 1</span>
					<span class="name">Alex Ristevski</span>
				</div>

				<div class="task-name">
					<h4>Fix broken xhtml / css</h4>
				</div>
				<div class="clear-fix"></div>
			</div>
			
			<div class="sub-header"><a href="#">Task list name has max 24</a></div>
			
			<div class="task starred" onclick="addClass(this);">
				<div class="left-icons">

					<a href="#" class="task-star">Star</a>
					<div class="checkbox"><span class="icon" onclick="checkBox(this);"></span></div>
				</div>
				<div class="info">
					<span class="task-time overdue">Yesterday</span>
					<span class="name">Jesse Ma</span>
				</div>

				<div class="task-name">
					<h4>Shorter task name with a little extra running on...</h4>
				</div>
				<div class="clear-fix"></div>
			</div>
			
			<div class="task alt" onclick="addClass(this);">
				<div class="left-icons">
					<div class="checkbox"><span class="icon" onclick="checkBox(this);"></span></div>

				</div>
				<div class="info">
					<span class="task-time today"> Today</span>
					<span class="name">James Nicholl</span>
				</div>
				<div class="task-name">
					<h4>This is an example of a relatively short todo item.</h4>

				</div>
				<div class="clear-fix"></div>
			</div>
			
			<div class="task" onclick="addClass(this);">
				<div class="left-icons">
					<div class="checkbox"><span class="icon" onclick="checkBox(this);"></span></div>
				</div>
				<div class="info">
					<span class="task-time"> Mar 1</span>

					<span class="name">Andrew Starsky</span>
				</div>
				<div class="task-name">
					<h4>Fix broken xhtml / css</h4>
				</div>
				<div class="clear-fix"></div>
			</div>
			
			<div class="task alt" onclick="addClass(this);">

				<div class="left-icons">
					<div class="checkbox"><span class="icon" onclick="checkBox(this);"></span></div>
				</div>
				<div class="info">
					<span class="task-time"> Mar 1</span>
					<span class="name">Julie Furst</span>
				</div>

				<div class="task-name">
					<h4>Recommend new ad agency</h4>
				</div>
				<div class="clear-fix"></div>
			</div>
			
			<div class="task" onclick="addClass(this);">
				<div class="left-icons">
					<div class="checkbox"><span class="icon" onclick="checkBox(this);"></span></div>

				</div>
				<div class="info">
					<span class="task-time"> Mar 1</span>
					<span class="name">Jesse Ma</span>
				</div>
				<div class="task-name">
					<h4>Test New Prototype</h4>

				</div>
				<div class="clear-fix"></div>
			</div>
			
			<div class="sub-header">New website</div>
			
			<div class="task" onclick="addClass(this);">
				<div class="left-icons">
					<div class="checkbox"><span class="icon" onclick="checkBox(this);"></span></div>
				</div>

				<div class="info">
					<span class="task-time red"> Dec 19</span>
					<span class="name">Stuart Bowness</span>
				</div>
				<div class="task-name">
					<h4>Finish logo and branding with the new concepts from our...</h4>
				</div>

				<div class="clear-fix"></div>
			</div>
			
			<div class="task starred alt" onclick="addClass(this);">
				<div class="left-icons">
					<a href="#" class="task-star">Star</a>
					<div class="checkbox"><span class="icon" onclick="checkBox(this);"></span></div>
				</div>
				<div class="info">

					<span class="task-time today"> Today</span>
					<span class="name">Mark Andrews</span>
				</div>
				<div class="task-name">
					<h4>Check whether everything validates via w3c validator</h4>
				</div>
				<div class="clear-fix"></div>

			</div>
			
			<div class="task starred" onclick="addClass(this);">
				<div class="left-icons">
				<a href="#" class="task-star">Star</a>
					<div class="checkbox"><span class="icon" onclick="checkBox(this);"></span></div>
				</div>
				<div class="info">
					<span class="task-time"> Mar 6</span>

					<span class="name">Alex Ristevski</span>
				</div>
				<div class="task-name">
					<h4>Perform load balancing tests</h4>
				</div>
				<div class="clear-fix"></div>
			</div>
			
		</div>

	</div>