<div class="r-panel-contain">
		<div class="r-panel">
			<div class="comment-contain" style="display:none;">
				<div class="comment-input">
					<label class="hidden">Message:</label> 
					<textarea name='message' class='textarea comment-message' id="comment-message" onfocus="this.select()" rows="" cols=""></textarea>
					<div class="clear-fix"></div>

				</div>
				<div class="attach-contain">
					<div class="attachment-upload">
						<div class="drag-drop">Drag and drop files here</div>
						<div class="attachment">
							<div class="left">
								<span class="upload-amt"> 0KB / 249KB</span>

								<span class="filename">pricing.txt</span>
							</div>
							<a href="#">Remove</a>
						</div>
						<div class="attachment">
							<div class="left">
								<span class="upload-amt"> 0KB / 249KB</span>

								<span class="filename">somemegalonga.txt</span>
							</div>
							<a href="#">Remove</a>
						</div>
					</div>
					<div class="clear-fix"></div>
				</div>
				<div class="comment-buttons">

					<a href="#" class="blue-33"><span>Add comment</span></a>
					<a href="#" class="cancel">Cancel</a>
				</div>
				<div class="clear-fix"></div>
			</div>
			<div class="message-body">
				<div class="checkbox"><span class="icon" onclick="checkBox(this);"></span></div><h2>This is an example of a really long todo. We could allow people to have very long todos that could stretch multiple lines, but we would 140<a href="/tasks-edit" class="edit">Edit</a></h2>

				<p class="filed-under">Filed under <a href="/task-dropdown">Task List</a></p><p class="recipients">Assigned to <a href="/task-dropdown-1">Stuart Bowness</a></p>
				<hr />
				<div class="main-content">
					<p>Here&rsquo;s a first take at our design for the new Readability app. In this post we&rsquo;ve added 2 screenshots for the UI showing how exactly the homepage and subpage would work.<a href="/tasks-edit" class="edit">Edit</a></p>
				</div>

				<div class="attachments">
					<div class="attachment-thumb-frame"><img src="images/content/attachment-1.jpg" alt="attachment 1" /></div>
					<div class="attachment-thumb-frame"><img src="images/content/attachment-2.jpg" alt="attachment 2" /></div>
					<div class="attachment-thumb-frame"><img src="images/content/attachment-1.jpg" alt="attachment 1" /></div>
					<div class="clear-fix"></div>
				</div>
				<p class="subscribers">Subscribed: Jessa Ma and <a href="/subscribed-wrap">11 others</a> | <a href="#">unsubscribe</a></p>

			</div>
			<div class="prev-messages">
				<div class="message starred">
					<div class="message-body">
						<a href="#" class="message-star">Star</a>
						<a href="/comment-expanded" class="name">Alex Ristevski</a><div class="has-attachment"></div><span class="message-time">10:00AM (11 minutes ago)</span>
						<div class="comment">

							<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>
							<p>Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
							<div class="attachments">
								<div class="attachment-thumb-frame"><img src="images/content/attachment-1.jpg" alt="attachment 1" /></div>
								<div class="attachment-thumb-frame"><img src="images/content/attachment-2.jpg" alt="attachment 2" /></div>
								<div class="attachment-thumb-frame"><img src="images/content/attachment-1.jpg" alt="attachment 1" /></div>
								<div class="clear-fix"></div>
							</div>

							<a href="#" class="reply-link">Reply</a>
						</div>
					</div>
				</div>
				<div class="message">
					<div class="message-body">
						<a href="#" class="message-star">Star</a>
						<a href="/comment-expanded" class="name">Jesse Ma</a><div class="has-attachment"></div><span class="message-time">9:59AM (12 minutes ago)</span>

						<div class="comment">
							<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>
							<p>Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
							<div class="attachments">
								<div class="attachment-thumb-frame"><img src="images/content/attachment-1.jpg" alt="attachment 1" /></div>
								<div class="attachment-thumb-frame"><img src="images/content/attachment-2.jpg" alt="attachment 2" /></div>
								<div class="attachment-thumb-frame"><img src="images/content/attachment-1.jpg" alt="attachment 1" /></div>
								<div class="clear-fix"></div>

							</div>
							<a href="#" class="reply-link">Reply</a>
						</div>
					</div>   
				</div>
				<div class="message">
					<div class="message-body">
						<a href="#" class="message-star">Star</a>

						<a href="/comment-expanded" class="name">Stuart Bowness</a><div class="has-attachment"></div><span class="message-time">9:58AM (13 minutes ago)</span> 
						<div class="comment">
							<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>
							<p>Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
							<div class="attachments">
								<div class="attachment-thumb-frame"><img src="images/content/attachment-1.jpg" alt="attachment 1" /></div>
								<div class="attachment-thumb-frame"><img src="images/content/attachment-2.jpg" alt="attachment 2" /></div>

								<div class="attachment-thumb-frame"><img src="images/content/attachment-1.jpg" alt="attachment 1" /></div>
								<div class="clear-fix"></div>
							</div>
							<a href="#" class="reply-link">Reply</a>
						</div>
					</div>  
				</div>
				<div class="message">
					<div class="message-body">

						<a href="#" class="message-star">Star</a>
						<a href="/comment-expanded" class="name">Alex Ristevski</a><div class="has-attachment"></div><span class="message-time">9:54AM (18 minutes ago)</span> 
						<div class="comment">
							<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>
							<p>Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
							<div class="attachments">
								<div class="attachment-thumb-frame"><img src="/images/content/attachment-1.jpg" alt="attachment 1" /></div>

								<div class="attachment-thumb-frame"><img src="/images/content/attachment-2.jpg" alt="attachment 2" /></div>
								<div class="attachment-thumb-frame"><img src="/images/content/attachment-1.jpg" alt="attachment 1" /></div>
								<div class="clear-fix"></div>
							</div>
							<a href="#" class="reply-link">Reply</a>
						</div> 
					</div> 
				</div>
				<div class="message">

					<div class="message-body">
						<a href="#" class="message-star">Star</a>
						<a href="/comment-expanded" class="name">Jesse Ma</a><div class="has-attachment"></div><span class="message-time">9:44AM (22 minutes ago)</span>   
						<div class="comment">
							<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>
							<p>Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
							<div class="attachments">

								<div class="attachment-thumb-frame"><img src="/images/content/attachment-1.jpg" alt="attachment 1" /></div>
								<div class="attachment-thumb-frame"><img src="/images/content/attachment-2.jpg" alt="attachment 2" /></div>
								<div class="attachment-thumb-frame"><img src="/images/content/attachment-1.jpg" alt="attachment 1" /></div>
								<div class="clear-fix"></div>
							</div>
							<a href="#" class="reply-link">Reply</a>
						</div>
					</div>

				</div>
				<div class="message">
					<div class="message-body">
						<a href="#" class="message-star">Star</a>	
						<a href="/comment-expanded" class="name">Stuart Bowness</a><div class="has-attachment"></div><span class="message-time">Jan 31 (1 day ago)</span> 
						<div class="comment">
							<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>
							<p>Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>

							<div class="attachments">
								<div class="attachment-thumb-frame"><img src="/images/content/attachment-1.jpg" alt="attachment 1" /></div>
								<div class="attachment-thumb-frame"><img src="/images/content/attachment-2.jpg" alt="attachment 2" /></div>
								<div class="attachment-thumb-frame"><img src="/images/content/attachment-1.jpg" alt="attachment 1" /></div>
								<div class="clear-fix"></div>
							</div>
							<a href="#" class="reply-link">Reply</a>
						</div>

					</div>  
				</div>
				<div class="message starred">
					<div class="message-body">
						<a href="#" class="message-star">Star</a>
						<a href="/comment-expanded" class="name">Jesse Ma</a><div class="has-attachment"></div><span class="message-time">Jan 30 (2 days ago)</span>
						<div class="comment">
							<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>

							<p>Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
							<div class="attachments">
								<div class="attachment-thumb-frame"><img src="/images/content/attachment-1.jpg" alt="attachment 1" /></div>
								<div class="attachment-thumb-frame"><img src="/images/content/attachment-2.jpg" alt="attachment 2" /></div>
								<div class="attachment-thumb-frame"><img src="/images/content/attachment-1.jpg" alt="attachment 1" /></div>
								<div class="clear-fix"></div>
							</div>
							<a href="#" class="reply-link">Reply</a>

						</div>
					</div> 
				</div>
				<div class="message">
					<div class="message-body">
						<a href="#" class="message-star">Star</a>
						<a href="/comment-expanded" class="name">Stuart Bowness</a><div class="has-attachment"></div><span class="message-time">Jan 16 (15 days ago)</span>  
						<div class="comment">

							<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>
							<p>Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
							<div class="attachments">
								<div class="attachment-thumb-frame"><img src="/images/content/attachment-1.jpg" alt="attachment 1" /></div>
								<div class="attachment-thumb-frame"><img src="/images/content/attachment-2.jpg" alt="attachment 2" /></div>
								<div class="attachment-thumb-frame"><img src="/images/content/attachment-1.jpg" alt="attachment 1" /></div>
								<div class="clear-fix"></div>
							</div>

							<a href="#" class="reply-link">Reply</a>
						</div>
					</div>
				</div>
				<div class="message">
					<div class="message-body">
						<a href="#" class="message-star">Star</a>
						<a href="/comment-expanded" class="name">Stuart Bowness</a><div class="has-attachment"></div><span class="message-time">13 / 12 / 10</span>

						<div class="comment">
							<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>
							<p>Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
							<div class="attachments">
								<div class="attachment-thumb-frame"><img src="/images/content/attachment-1.jpg" alt="attachment 1" /></div>
								<div class="attachment-thumb-frame"><img src="/images/content/attachment-2.jpg" alt="attachment 2" /></div>
								<div class="attachment-thumb-frame"><img src="/images/content/attachment-1.jpg" alt="attachment 1" /></div>
								<div class="clear-fix"></div>

							</div>
							<a href="#" class="reply-link">Reply</a>
						</div>
					</div>
				</div>
				<div class="message">
					<div class="message-body">
						<a href="#" class="message-star">Star</a>

						<a href="/comment-expanded" class="name">Jesse Ma</a><div class="has-attachment"></div><span class="message-time">09 / 06 / 10</span> 
						<div class="comment">
							<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>
							<p>Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
							<div class="attachments">
								<div class="attachment-thumb-frame"><img src="/images/content/attachment-1.jpg" alt="attachment 1" /></div>
								<div class="attachment-thumb-frame"><img src="/images/content/attachment-2.jpg" alt="attachment 2" /></div>

								<div class="attachment-thumb-frame"><img src="/images/content/attachment-1.jpg" alt="attachment 1" /></div>
								<div class="clear-fix"></div>
							</div>
							<a href="#" class="reply-link">Reply</a>
						</div>
					</div>
				</div>
			</div>

			<div class="expand-all">
				<a href="#"><span class="icon"></span><span>Expand all comments</span></a>
			</div>
		</div>
	</div>
	