<p>Hello <%= @resource.email %>!</p>

<p>Please reset your password to GetMocha.com by clicking the following link: <br/>

<%= link_to edit_password_url(@resource, :reset_password_token => @resource.reset_password_token),edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p><br/>
--<br/>
Powered by GetMocha.com


